/* CSS for Content & Sharing */
/* CSS for overall */
.add-border {
    border: 1px solid gray;
}

p, li {
    color: rgb(88, 88, 88);
    font-size: 1.7rem;
    line-height: 2.2rem;
}

/* CSS for flex */
.post-container {
    display: flex;
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
}

.post-row {
    display: flex;
    justify-content: space-around;
}

.post-item:nth-of-type(1) {
    width: 70%;
}

.post-item:nth-of-type(2) {
    width: 25%;
}

/* CSS for left post item */
/* CSS for post-title-date */
.post-title-date {
    margin-bottom: 1rem;
}

.post-title-date .post-title {
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

.post-title-date .post-date {
    color: gray;
    font-size: 1.5rem;
}

/* CSS for content */
.post-abstract,
.post-heading,
.post-sub-heading-border,
.post-sub-heading-list {
    margin: 2rem 0px;
}

.post-abstract p,
.post-heading p,
.post-sub-heading-border p,
.post-sub-heading-list p,
.post-sub-heading-list ul,
.post-sub-heading-list ol {
    margin-bottom: 1.5rem;
}

.post-heading h2,
.post-sub-heading-border h2,
.post-sub-heading-list h2 {
    font-family: 'Times New Roman', Times, serif;
}

.post-sub-heading-list ul,
.post-sub-heading-list ol {
    margin-left: 5rem;
}

.post-abstract hr {
    margin: 1.5rem 0px;
}

h2 {
    margin-bottom: 0.4rem;
}

/* CSS for post-tag */
.post-tags {
    margin: 7rem 0;
}

.post-tag {
    font-size: 1.3rem;
    border: 2px solid lightgray;
    border-radius: 50rem;
    padding: 0.8rem;
    color: lightgray;
}

.post-tag-active {
    border: 2px solid blue;
    color: blue;
}
