@media (max-width: 650px) {
    .post-row {
        flex-direction: column;
    }

    .post-item:nth-of-type(1),
    .post-item:nth-of-type(2) {
        width: 100%;
    }

    .post-item:nth-of-type(1) {
        padding: 1rem;
    }

    .sharing-archives ul {
        column-count: 4;
    }

    .sharing-elsewhere ul {
        column-count: 3;
    }

}